<ion-header>
  <ion-toolbar>
    <ion-title>
        {{ 'title-app' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button style="margin-top: 20%" expand="full" (click)="openLanguage()">
        {{ 'change-language' | translate }}
    </ion-button>

    <h3 style="text-align: center;color: green;margin-top: 30px">{{ 'welcome' | translate }}</h3>

    <a href="mailto:info@ftm.sa"><p style="text-align: center">By: Faisal Almatrafi<br>Email:info@ftm.sa</p></a>
  
</ion-content>
